#s3 .box{
display: grid;
grid-template:repeat(6,50px)/repeat(4,50px) ;
/* 첫번째는 로우 두번째는 컬럼임 */
}
#s3 .box input[type=text]{
    grid-area: 1/1/2/-1;
    /* 로우 1  칼럼1 로우 2 칼럼 5 or-1  */

}


/* ========== s4=============== */
#s4 .box{
    height: 300px;
    background-color: gray;

    /*item layout*/
    display : flex;
}

#s4 .box .tool-box{
    width: 300px;
    padding: 30px;
}

#s4 .box .preview-box{
    flex-grow: 1;
    border-left : 1px solid white;

    /*item layout*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.item{
    box-sizing: border-box;
    width: 200px;
    height: 100px;
    border : 1px solid #000;
    background-color: #00000077;

}


/* =============== s5 ===================== */
#s5 .box{
    height: 300px;
    background-color: gray;

    /*item layout*/
    display : flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#s5 .box ul{
    /* reset */
    padding: 0;
    margin: 0;

    /* layout */
    width: 400px;
    height: 100%;
    /* item layout */
    display: flex;
    align-items: center;
    position: relative;
}

#s5 .box li{
    /* reset */
    list-style: none;

    /* text */
    font-weight: bold;
    font-size: 36px;
    color: #fff; 

    /* layout */
    position: absolute;
    box-sizing: border-box;
    width: 100px;
    height: 150px;
    border: 3px solid #fff;
    border-radius: 10px;

    /* item layout */
    display: flex;
    align-items: center;
    justify-content: center;

    /* effect */
    transition:left 1s, width 1s ,height 1s,background-color 1s;
    /*left라는 속성에서 1초의 시간을 주자라는 뜻  */
}

#s5 .box li.card-1th{
    left:0px;
    width: 100px;
    height: 150px;
    background-color: aquamarine;
    z-index: 1;
  
}

#s5 .box li.card-2th{
    left:calc(50% - 60px);
    width: 120px;
    height: 180px;
    background-color: tomato;
    z-index: 2;
}

#s5 .box li.card-3th{
    left:calc(100% - 100px);
    width: 100px;
    height: 150px;
    background-color: aquamarine;
    z-index: 0;
   
}

#s5 .btn-list{
    position: absolute;
    bottom: 0;
}

/* =============== s5-1 ===================== */
#s5-1 .box{
    height: 300px;
    background-color: gray;

    /*item layout*/
    display : flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#s5-1 .box ul{
    /* reset */
    padding: 0;
    margin: 0;

    /* layout */
    width: 400px;
    height: 100%;
    /* item layout */
    display: flex;
    align-items: center;
    position: relative;
}

#s5-1 .box li{
    /* reset */
    list-style: none;

    /* text */
    font-weight: bold;
    font-size: 36px;
    color: #fff; 

    /* layout */
    position: absolute;
    box-sizing: border-box;
    width: 100px;
    height: 150px;
    border: 3px solid #fff;
    border-radius: 10px;

    /* item layout */
    display: flex;
    align-items: center;
    justify-content: center;

    /* effect */
    transition:left 1s, width 1s ,height 1s,background-color 1s;
    /*left라는 속성에서 1초의 시간을 주자라는 뜻  */
}

#s5-1 .box li.card-1th{
    left:0px;
    width: 100px;
    height: 150px;
    background-color:aqua;
    z-index: 1;
  
}

#s5-1 .box li.card-2th{
    left:calc(50% - 60px);
    width: 120px;
    height: 180px;
    background-color:pink;
    z-index: 2;
}

#s5-1 .box li.card-3th{
    left:calc(100% - 100px);
    width: 100px;
    height: 150px;
    background-color:aqua;
    z-index: 0;
   
}

#s5-1 .btn-list{
    position: absolute;
    bottom: 0;
}


/* ---6. 스타일 다루기 (classList) : 아코디언 만들기--- */
#s6>.box,
.accordion-box{
    height: 400px;
    display: flex;
    flex-direction: column;
}

#s6>.box>h2,
.accordion-header{
    /* reset */
    padding: 0;
    margin: 0;

    /* text */
    font-size: 100%;
    font-weight: normal;
    color: #454545;

    /* layout */
    cursor: pointer;
    height: 20px;
    position: relative;
    margin: 2px 0 0 0;
    padding: 0.5em 0.5em 0.5em 0.7em;
    border: 1px solid #c5c5c5;
    border-bottom-right-radius: 3px;
    background: #f6f6f6;
    
    /* effect */
    transition: background-color 1s;

}
#s6>.box>h2.active+div,
.accordion-header.active+.accordion-content{
flex-grow: 1;

}

#s6>.box>div,
.accordion-content{
    /* reset */
    margin: 0;
    outline: 0;
    line-height: 1.3;
    text-decoration: none;
    font-size: 100%;
    list-style: none;

    /* text */
    color: #333333;

    /* layout */
    border: 1px solid #dddd;
    border-bottom-left-radius: 3px;
    background: #ffffff;
    /* padding: 1em 2.2em; */
    border-top: 0;
    overflow: auto;
    height: 0;
}


#s6>.box{
    height: 400px;
    /* 박스 전체 크기 고정 */
    display: flex;
    flex-direction: column;
}


/* --------- S7 스타일 다루기(coputedStyle/...) :선택된 박스 이동    */
#s7 .item{
    font-weight: bold;
    font-size: 30px;
    color: white;

    width: 100px;
    height: 100px;
    /* 보더의 크기로 할건지 콘텐츠의 크기로 할건지 항상 생각할것  */
    box-sizing: border-box;
    border: 1px solid white;
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}


#s7 .box{
    background-color: gray;
    height: 400px;

    display: flex;
    position: relative;
}

#s7 .src-item-list{
    width: 300px;
}

